<body class="text-center">
  <header class="mb-auto" style="z-index: 2">
    <navbar></navbar>
  </header>
  <div class="row m-0" style="z-index: -1">
    <div class="col-md-5 p-0">
      <div class="cover-container" style="height: 100vh; width: 100%"></div>
    </div>
    <div class="col-md-7 p-0">
      <div class="row m-0">
        <div class="col cover-top"></div>
        <div class="w-100"></div>
        <div class="col">
          <div class="row pt-3">
            <div class="col-md-7" style="text-align: start">
              <div class="row loc-cont px-4 pt-3">
                <h4 class="text-muted cordinate">41°24'12.2"N 2°10'26.5"E</h4>
                <h4 class="loc-head pt-2">Devil's Fork</h4>
                <h4 class="loc-sub">salem, sc</h4>
                <p class="loc-desc text-muted pt-3">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quidem atque dolorum dolore quae laboriosam nisi, distinctio
                  cupiditate tempore quos assumenda.
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-add px-2">
                      <i class="p-2 fa fa-plus"></i> add to my trip
                    </button>
                    <button type="button" class="btn btn-direct px-2 mx-2">
                      get directions
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div
                class="card known-for"
                style="width: 15rem; z-index: 0; position: static"
              >
                <div class="card-body">
                  <h5 class="card-title text-center">Known For</h5>
                  <hr class="text-muted" />
                  <div class="row pt-4">
                    <div class="col-md-2">
                      <i class="fa fa-ship"></i>
                    </div>
                    <div class="col-md-10">kayaking</div>
                  </div>
                  <div class="row pt-4">
                    <div class="col-md-2">
                      <i class="fa fa-home"></i>
                    </div>
                    <div class="col-md-10">coockouts</div>
                  </div>
                  <div class="row pt-4">
                    <div class="col-md-2">
                      <i class="fa fa-home"></i>
                    </div>
                    <div class="col-md-10">camping</div>
                  </div>
                  <div class="row py-4">
                    <div class="col-md-2">
                      <i class="fa fa-life-ring"></i>
                    </div>
                    <div class="col-md-10">boating</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <main class="px-3" style="text-align: left">
      <div class="container">
        <div class="row">
          <div class="col-4 col-2">
            <h1 style="font-size: 3rem">
              Book With Us <br />
              And Enjoy Your <br />
              Journey!
            </h1>
          </div>
        </div>
      </div>
    </main> -->
</body>

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <section id="cont" class="cont">
        <div class="container" data-aos="fade-up">
          <section
            class="page-section"
            id="services"
            style="padding-bottom: 0px"
          >
            <div class="container">
              <h2 class="text-center mt-0">Contact Us</h2>
              <hr
                class="mx-auto"
                style="width: 3rem; height: 3px; color: black"
              />
            </div>
          </section>
          <div style="padding-top: 50px"></div>

          <div class="row mx-auto">
            <div class="col-lg-5 d-flex align-items-stretch mx-auto">
              <div class="info">
                <div class="phone">
                  <i class="fa fa-phone"></i>
                  <h4>Call:</h4>
                  <p>8469557345</p>
                </div>
                <div class="email">
                  <i class="fa fa-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>
                <div class="address">
                  <i class="fa fa-map-marker"></i>
                  <h4>Location:</h4>
                  <p>
                    Weekend Address,Near Delhi Public School,Silent Zone Road,
                    Opp.Surat Airport, Dumas, Gujarat 395007
                  </p>
                </div>
                <div class="cont-img"></div>
              </div>
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form
                action="forms/cont.php"
                method="post"
                role="form"
                class="eform"
              >
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<section class="pt-5 mt-5">
  <app-footer></app-footer>
</section>
